
body {
    background-color: #0e2e4c;
    color: #02062d;;

}

.fotorama__wrap {
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #000;

}

nav.mobile-nav {
    display: none;

}

nav.pc-nav {
    height: 100px;
    background-color: #02062d;
    position: relative;
    z-index: 3;
}

nav.pc-nav .logo-wrapper {
    width: 171px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}


nav.pc-nav .logo-wrapper img {
    width: 171px;
    border-radius: 20px;
}

nav.pc-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav.pc-nav ul li {
    float: left;
    font-size: 1.0em;
}

nav.pc-nav ul li a {
    color: #bbb;
    text-transform: uppercase;
    font-size: 1.0em;
    padding: 38px 35px;
    display: block;
    text-decoration: none;
    font-family: ubuntu;
}

nav.pc-nav ul li a.active {

    background-color: #0e2e4c;
    text-decoration: underline;
}

nav.pc-nav ul li a:hover {

    background-color: #0e2e4c;
    text-decoration: underline;
}

nav.pc-nav .left-nav {
    float: left;
}

nav.pc-nav .right-nav {
    float: right;
}

#slider .header-image {
    position: relative;
    height: 500px;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    box-shadow: inset 0 -100px 0 rgba(0, 0, 0, 0.3);

}

#slider-info .header-image {
    position: relative;
    height: 325px;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    box-shadow: inset 0 325px 0 rgba(0, 0, 0, 0.3);

}

#slider-info .header-image h1 {
    color: #fff;
    margin-top: 250px;
    margin-left: -15px;
}

#cards {
    margin-top: -75px;
}

#cards .card {
    background: #02062d;
    align-items: center;
    padding: 30px;
    border-radius: 20px;
}

#cards .card:hover {
    background-color: #101654;
}


.card-img-top {
    max-height: 250px;
}

#cards .card h3 {
    font-family: ubuntu;
    color: #fff;
}

#cards .card p {
    color: #fff;
}

#cards .card img {
    width: 96px;
}

#content-img-mt {
    background-color: #fff;
    margin-top: -50px;
    padding-top: 100px;
    padding-bottom: 100px;
}

#content-img-mt h3 {
    color: #02062d;
    font-family: ubuntu;
}

#content-img-mt p {
    color: #02062d;
}

#content-img-mt a {
    border-color: #0e2e4c !important;
    color: #0e2e4c;
}

#content-img-mt a:hover {
    background-color: #0e2e4c !important;
    color: #fff !important;
}

.text-only {
    margin-top: 30px;
}

.bg-white {
    background-color: #fff;
    padding: 30px;
}

.bg-darkblue {
    background-color: #02062d;
    padding: 30px;
    color: #fff;
}

.btn-darkblue {
    background-color: #02062d;
    color: #fff;
}

.text-darkblue {
    color: #02062d;
}

footer {
    padding-top: 50px;
    padding-bottom: 50px;
}

#team img {
    width: 250px;
}

footer h3 {
    font-family: ubuntu;
    font-size: 1.2em;
    color: #fff;
}

footer img {
    border-radius: 20px;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 8px;

}

footer ul li a {
    color: #fff;
}

@media (min-width: 1200px) and (max-width: 1400px) {
    nav.pc-nav ul li a {
        padding: 35px 20px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {

    nav.pc-nav ul li a {
        padding: 40px 20px;
        font-size: 0.8em;
    }

    #cards .card h3 {
        font-size: 1.2em;
    }

    #cards .card-text {
        font-size: 1em;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #cards .card h3 {
        font-size: 1em;
    }

    #cards .card-text {
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 768px) {
    #cards .card {
        margin-bottom: 20px;
    }

    footer {
        text-align: center;
    }

    footer img {
        width: 200px;
    }
}

@media only screen and (max-width: 991px) {
    nav.mobile-nav {
        display: block;
    }

    nav.pc-nav {
        display: none !important;
    }

    nav.mobile-nav {
        height: 100px;
        background-color: #02062d;
        position: fixed;
        width: 100%;
        z-index: 3;
    }

    nav.mobile-nav .logo-wrapper {
        width: 171px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
    }

    nav.mobile-nav .logo-wrapper img {
        width: 171px;
        border-radius: 20px;
    }

    nav.mobile-nav .nav-toggle-mobile {
        position: absolute;
        right: 30px;
        top: 26px;
        margin: 0;
        padding: 0;
        z-index: 101;
    }

    nav.mobile-nav .navigation {
        position: fixed;
        top: 92px;
        left: -100%;
        bottom: 0;
        width: 100%;
        background-color: #02062d;
        z-index: 100;
        -webkit-transition: left .6s ease;
        transition: left .6s ease;
    }

    nav.mobile-nav .navigation.active {
        left: 0;
    }

    nav.mobile-nav .nav-toggle-mobile button {
        background: none;
        border: 0;
        padding: 10px;
    }

    nav.mobile-nav .nav-toggle-mobile button span.bar {
        position: relative;
        width: 30px;
        height: 3px;
        background: #eee;
        display: block;
        margin-bottom: 5px;
        -webkit-transition: 0.3s;
        transition: 0.3s;
    }

    nav.mobile-nav .nav-toggle-mobile button.nav-visible span.bar:nth-child(1) {
        transform: rotate(45deg);
        top: 8px;
    }

    nav.mobile-nav .nav-toggle-mobile button.nav-visible span.bar:nth-child(2) {
        opacity: 0 !important;
    }

    nav.mobile-nav .nav-toggle-mobile button.nav-visible span.bar:nth-child(3) {
        transform: rotate(-45deg);
        top: -8px;
    }


    /*nav.mobile-nav .nav-toggle-mobile.nav-hidden button span.bar:nth-child(2) {*/
    /*    opacity: 1;*/
    /*}*/
    nav.mobile-nav .navigation ul.left-nav {
        margin-top: 14px;
    }

    nav.mobile-nav .navigation ul {
        clear: both;
        width: 100%;
    }

    nav.mobile-nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    nav.mobile-nav .navigation ul {
        /*float: left;*/
        clear: both;
        width: 100%;
    }

    nav.mobile-nav ul.right-nav {
        float: right;
    }

    nav.mobile-nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    nav.mobile-nav ul {
        color: #585858;
    }

    nav.mobile-nav ul li a {
        color: #fff;
    }


    nav.mobile-nav .navigation ul li a {
        text-align: center;
        border-bottom: 1px solid #5c5c5c;
        padding: 10px 0;
    }

    nav.mobile-nav ul li a {
        color: #bbb;
        text-transform: uppercase;
        font-size: 1.0em;
        padding: 35px;
        display: block;
    }


}