---
layout: default
title: Werktuigbouwkunde
---
<section id="slider-info">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="header-image" style="background: url(img/over-bingobot2.jpg) no-repeat center ">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h1>Werktuigbouwkunde</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="blog-holder " class="mt-4 ">
    <div class="container">
        <div class="bg-white">
            <div class="row">
                {% for post in site.posts %}
                {% if post.category contains 'Werktuigbouwkunde' %}
                <div class="col-md-4">
                    <a href="/bingobot{{ post.url }}">
                        <div class="card bg-darkblue" style="">
                            <img class="card-img-top img-fluid" src="{{ post.image }}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title text-center text-white">{{ post.title }}</h5>
                            </div>
                        </div>
                    </a>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>