<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="img/logo.jpg" alt="Bingo logo" class="img-fluid">
            </div>
            <div class="col-md-3">
                <h3>BingoBot</h3>
                <ul>
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Over BingoBot</a>
                    </li>
                    <li>
                        <a href="#">Blog</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h3>Opleidingen</h3>
                <ul>
                    <li>
                        <a href="#">Electro</a>
                    </li>
                    <li>
                        <a href="#">Werktuigbouwkunde</a>
                    </li>
                    <li>
                        <a href="#">Software</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>