<header>
    <nav class="mobile-nav">
        <div class="nav-toggle-mobile visible-xs hidden-sm hidden-md hidden-lg nav-hidden">
            <button class="nav-btn">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </button>
        </div>
        <a class="logo-wrapper" href="/bingobot/index.html">
            <img src="/bingobot/img/logo.jpg" alt="Bingobot">
        </a>
        <div class="navigation nav-visible-mobile">
            <ul class="nav-left">
                <li><a href="/bingobot/over-bingobot.html">Over bingobot</a></li>
                <li><a href="/bingobot/blog.html">Blog</a></li>
                <li><a href="#">Foto's</a></li>
            </ul>
            <ul class="nav-right">
                <li><a href="/bingobot/electro.html">Electro</a></li>
                <li><a href="/bingobot/werktuigbouwkunde.html">Werktuigbouwkunde</a></li>
                <li><a href="/bingobot/software.html">Software</a></li>
            </ul>
        </div>
    </nav>
    <nav class="pc-nav">
        <a class="logo-wrapper" href="/bingobot/index.html">
            <img src="/bingobot/img/logo.jpg" alt="Bingobot">
        </a>
        <div class="container">
            <ul class="left-nav">
                <li><a href="/bingobot/over-bingobot.html">Over bingobot</a></li>
                <li><a href="/bingobot/blog.html">Blog</a></li>
                <li><a href="#">Foto's</a></li>
            </ul>
            <ul class="right-nav">
                <li><a href="/bingobot/electro.html">Electro</a></li>
                <li><a href="/bingobot/werktuigbouwkunde.html">Werktuigbouwkund</a></li>
                <li><a href="/bingobot/software.html">Software</a></li>
            </ul>
        </div>
    </nav>
</header>