<header>
    <nav>
        <a class="logo-wrapper" href="#">
            <img src="/img/logo.jpg" alt="Bingobot" >
        </a>
        <div class="container">
            <ul class="nav-left">
                <li><a href="#">Over bingobot</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Foto's</a></li>
            </ul>
            <ul class="nav-right">
                <li><a href="#">Foto's</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Over bingobot</a></li>
            </ul>
        </div>
    </nav>
</header>